<div>
	<div style="font-size:9px;width:100%">
    	<div>
    		<a href="<%= annoUri %>">Annotation</a>
		</div>
		<div style="width:100%">
    		<input type="text" value="<%= annoUri %>" style="width:100%"/>
    	</div>
    </div>
    <div style="font-size:9px;width:100%">
    	<div>
    		<a href="<%= manifestUri %>">Manifest</a>
		</div>
		<div style="width:100%">
    		<input type="text" value="<%= manifestUri %>" style="width:100%"/>
    	</div>
    </div>
    <div style="font-size:9px;width:100%">
    	<div>
    		<a href="<%= partImgUri %>">iiifUrl</a>
		</div>
		<div style="width:100%">
    		<input type="text" value="<%= partImgUri %>" style="width:100%"/>
    	</div>
	</div>
</div>