<div class="panel panel-warning">
    <div class="panel-heading">
        <a href="/annotations/displayAnno/<%= encodeURIComponent(annoUri) %>" target="_blank"><%= annoUri %></a>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-2">
                <div>
                    <% include annoImageElement %>
                </div>
            </div>
            <div class="col-sm-10">
                <% for(key in annoResources){ %>
                <div class="col-sm-5 well">
                    <div><%= key %></div>
                    <div>
                        <ul class="list-group">
                            <% annoResources[key].forEach(function(resource) { %>
                            <li class="list-group-item">
                                <div><%- resource.chars %></div>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group col-sm-12">
                    <label for="input_<%= partImgUri %>">IIIF Link to bounding box image</label>
                    <input id="input_<%= partImgUri %>" type="text" class="form-control input-sm" readonly="readonly" value="<%= partImgUri %>" />
                </div>
            </div>
        </div>
    </div>
</div>